@media screen and (max-width: 375px){
	header, #try,#details, #contacts{
		display:flex;
		flex-direction:row;
	}
}

body{
	font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color:hsl(214, 64%, 98%);
    color:hsl(208, 11%, 55%);
}

section{
	margin-bottom: 200px;
}

header, #try{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: minmax(200px,auto);
	padding: 50px;
	margin-bottom: 200px;
	
}

header img{
	grid-column: 1;
}

header a{
	grid-column: 4;
	justify-self:end;
	align-self: start;

}

header div{
	grid-column: 2/4;
	align-items: center;
	justify-items:center;
	text-align: center;
}

#details{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 100px;
}

#text_details{
	display: grid;
	grid-template-rows: repeat(3,1fr);
}

#try div{
	grid-column: 2/4;
	-webkit-box-shadow: -1px 13px 22px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: -1px 13px 22px 0px rgba(0,0,0,0.37);
	box-shadow: -1px 13px 22px 0px rgba(0,0,0,0.37);
	border-radius: 10px;
	padding:50px;
	background-color: white;
}

#contacts{
	display:grid;
	grid-template-columns: repeat(4,1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-column-gap: 50px;
	margin-bottom: 100px;
	padding: 50px;
	background-color: hsl(192, 100%, 9%);
	color: white;
	align-items: flex-start;
}

#one{
  grid-column: 1 / 4;
  grid-row: 1;
}
#two{
	grid-column: 1;
	grid-row: 2;
}

#two i{
	margin-right: 10px;
}

#three{
	grid-column: 2;
	grid-row: 2;
}
#four{
	grid-column: 3;
	grid-row: 2;
}
#five{
	display: grid;
	grid-column: 4;
	grid-row:2;
}

#contacts h1{
	margin:0;
	color: white;
	text-transform: uppercase;
}
#contacts textarea{
	display: inline;
	width: 100%;
}

h1{
    font-family: 'Poppins', sans-serif;
    color:black;
}

img{
	height: auto;
	width: 100%;
}

a{
  background-color: white;
  border: none;
  border-radius: 5px;
  color: hsl(265, 100%, 66%);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-box-shadow: -1px 13px 22px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -1px 13px 22px 0px rgba(0,0,0,0.37);
  box-shadow: -1px 13px 22px 0px rgba(0,0,0,0.37);
}

.get_started{
	background-color: hsl(322, 100%, 66%);
	color:white;
}

#gradient1{
	position: absolute;
	background: #ff56c1;
	background: -moz-linear-gradient(-45deg,  hsl(322,100%,67%) 1%, hsl(265,100%,67%) 100%);
	background: -webkit-linear-gradient(-45deg,  hsl(322,100%,67%) 1%,hsl(265,100%,67%) 100%);
	background: linear-gradient(135deg,  hsl(322,100%,67%) 1%,hsl(265,100%,67%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff56c1', endColorstr='#9b54ff',GradientType=1 );
	top:0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	clip-path: polygon(30% 0, 100% 0, 100% 100%, 86% 100%, 30% 10%);
}

#gradient2{
	position: absolute;
	z-index: -2;
	background: white;
	height: 100%;
	width: 100%;
	-webkit-clip-path: polygon(60% 0, 100% 36%, 40% 100%, 0 64%);
	clip-path: polygon(60% 0, 100% 36%, 40% 100%, 0 64%);
}

